# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules
generated/prisma
/server/generated/prisma/

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
.deploy-repo/

# Local env files
.env
.env.*
!.env.example
